<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="images/student.ico">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" id="header1">
        <div class="row">
            <div class="col-lg-12">
                <span>Welcome, STUDENT_NAME_HERE</span>
            </div>
        </div>
    </div>
</body>
</html>