<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <title>Success</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Post Successful
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <form id="form" method="POST" action="/" class="form-signin">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" form="form">Retake</button>
                </form>
            </div>
            <div class="col-lg-8"></div>
        </div>
    </div>
</body>
</html>